/* Styles for the homepage template */

.hero {
    background-color: $oi_grey; 
    height: 600px;
    position: relative;
    &-overlay {
        background: linear-gradient( to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5), rgba(0,0,0,0) );
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }  
    &::after {
        background: linear-gradient( to top, rgba(255,255,255,1), rgba(255,255,255,.5), rgba(255,255,255,0) );
        bottom: 0;
        content: "";
        height: 150px;
        position: absolute;
        width: 100%;
    }    
    &-img {
        overflow: hidden;
        img {
            height: 600px;
            object: {
                fit: cover;
                position: center center;
            }
            width: 100%;
        }
    }
    &-content {
        color: #fff;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        h2 {
            @include convert-to-rem( 45, 600 );
        }
    }
    &-thumbnails {
        bottom: -150px;
        left: 0;
        margin: 0 auto;
        right: 0;
        position: absolute;
        width: 1200px;
        z-index: 3;
        ul {
            display: flex;
            justify-content: center;
            @extend %unstyled-list;
            li {
                border-radius: 10px;
                cursor: pointer;
                height: 320px;
                margin: 0 10px;
                overflow: hidden;
                position: relative;
                @include transition( 300ms );
                top: 0;
                width: 240px;
                &:hover {
                    top: -10px;
                    
                }
                .hero-thumbnails-img {
                    overflow: hidden;
                    img {
                        height: 320px;
                        object: {
                            fit: cover;
                            position: center center;
                        }
                    }
                }
                .hero-thumbnails-content {
                    left: 0;
                    margin: auto;
                    padding: 20px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 50%;
                    transform: translateY(-50%);
                    h4 {
                        margin-bottom: 0;
                        a {
                            color: #fff;
                            display: block;
                            font-weight: 600;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.intro {
    background-color: #fff;
    padding: 250px 0 100px;
    position: relative;
    &-block {
        margin-bottom: 50px;
        &-img {
            background-color: rgba(0,0,0,.3);
            border-radius: 10px;
            height: 245px;
            overflow: hidden;
            width: 440px;
            img {
                object: {
                    fit: cover;
                    position: center center;
                }
            }
        }
        &-content {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3 {
                font-weight: 600;
            }
        }
    }
}

.quote {
    background-color: #c4c4c4;
    &-img {
        background-color: rgba(0,0,0,.3);
        height: 245px;
        width: 440px;        
    }
    &-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;  
        .quote-mark {
            display: block;
            margin-bottom: 30px;
        }   
        p {
            @include convert-to-rem( 22 );
            margin-bottom: 0;
        }   
    }
}