/* Variables & mixins */

$main_font: 'Spartan', sans-serif;
$text-color: #1b1f23;
$oi_red: #C8102E;
$oi_blue: #6EC1E4;
$oi_yellow: #F0B323;
$oi_grey: #EFEFF0;

%unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin convert-to-rem( $pixels, $weight:null ) {
    font: {
        size: $pixels + px;
        size: ($pixels/16) + rem;
        weight: $weight;
    }
}

@mixin transition( $duration ) {
    -moz-transition: all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -webkit-transition: all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
}