/* Styles for sliders and carousels */

.hero-carousel {
    .owl-stage-outer {
        overflow: visible;
    }
}

.hero {
    &-thumbnails {
        bottom: -150px;
        left: 0;
        margin: 0 auto;
        right: 0;
        position: absolute;
        width: 1200px;
        z-index: 3;
        &-overlay {
            background-color: #000;
            height: 100%;
            left: 0;
            opacity: .4;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }        
        ul {
            //display: flex;
            //justify-content: center;
            @extend %unstyled-list;
            li {
                border-radius: 10px;
                box-shadow: 0 2px 20px rgba( $text_color, .45 );
                cursor: pointer;
                height: 320px;
                margin: 0 10px;
                overflow: hidden;
                position: relative;
                @include transition( 300ms );
                top: 0;
                width: 240px;
                &:hover {
                    top: -10px;

                }
                .hero-thumbnails-img {
                    overflow: hidden;
                    img {
                        height: 320px;
                        object: {
                            fit: cover;
                            position: center center;
                        }
                    }
                }
                .hero-thumbnails-content {
                    left: 0;
                    margin: auto;
                    padding: 20px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 50%;
                    transform: translateY(-50%);
                    h4 {
                        margin-bottom: 0;
                        a {
                            color: #fff;
                            display: block;
                            font-weight: 600;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }    
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    .hero-thumbnails {
        padding: 0 30px;
        width: 1000px;
        ul {
            li {
                height: 230px;
                margin: 0 5px 0 0;
                width: 95%;
            }
        }
    }    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .hero-thumbnails {
        padding: 0 30px;
        width: 100%;
        ul {
            li {
                height: 230px;
                margin: 0 5px 0 0;
                width: 95%;
            }
        }
    }     
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .hero-thumbnails {
        padding: 0 30px;
        width: 100%;
        ul {
            li {
                height: 230px;
                margin: 0 5px 0 0;
                width: 95%;
            }
        }
    } 
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .hero-thumbnails {
        ul {
            li {
                height: 230px;
                margin: 0 5px 0 0;
                width: 95%;
            }
        }
    }    
}

.partners {
    background-color: #fff;
    padding: 55px 0;
    text-align: center;
    h4 {
        font-weight: 600;
    }
    &-carousel {
        padding: 60px 0 30px;
        &-item {
            img {
                height: 100px;
                width: auto;
                object: {
                    fit: contain;
                    position: center center;
                }
            }
        }
    }
}