/* Global styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: $main_font;
    @include convert-to-rem( 16, 400 );
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    @include transition( 200ms );
}

button, button:focus, button:active {
    border: none;
    box-shadow: none;
    outline: none;
}

img {
    height: auto;
    max-width: 100%;
}